<%#
  This partial takes 1-5 local variables
  - name
  - note (optional)
  - country_options (optional)
  - subdivision_options (optional)
%>

<%
    note ||= ""
    country_options ||= {}
    subdivision_options ||= {}
%>

<%= form_for("#{name.parameterize}_address") do |f| %>
  <h2> <%= name %> </h2>
  <h4> <%= note %> </h4>

  <div class="field">
    <%= f.label(:country) %><br />
    <%= f.country_select(:country, country_options) %>
  </div>

  <div class="field">
    <%= f.label(:subdivision, "State / Province") %><br />
    <%= f.subdivision_select(:subdivision, country_options[:selected], subdivision_options) %>
  </div>
<% end %>
