<h1>Demo</h1>

<% @addresses.each do |address| %>
  <%=
    form_for(
      address,
      url: update_address_path(address.id),
      html: {class: address.title.parameterize}
    ) do |f| %>

    <div class="field">
      <%= f.label(:title) %><br />
      <%= f.text_field(:title) %>
    </div>

    <div class="field">
      <%= f.label(:country) %><br />
      <%= f.country_select(:country, include_blank: true) %>
    </div>

    <div class="field">
      <%= f.label(:subdivision, "State / Province") %><br />
      <%= f.subdivision_select(:subdivision, address.country, include_blank: true ) %>
    </div>

    <div class="field">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
